/* //media query//

mobile ?? */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #427041c0; */
}

main {
  flex-direction: column;
  display: flex;
  padding: 50px;
  align-items: center;
  /* background-color: blueviolet; */
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 20px;

  border-radius: 15px solid rgb(194, 13, 13);
}
.section-title {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  margin-left: 10px;
}

.top-player {
  margin-bottom: 30px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 150px;
}

.player {
  display: flex;
  align-items: center;
  /* margin: 20px; */
}

.player img {
  width: 56px;
  height: 58px;
}
.player .player-name {
  font-size: 15px;
  margin-left: 15px;
}

hr {
  border: 2px solid blanchedalmond;
}

/* //top-blog */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog {
  display: flex;
}

.blog-info-title {
  font-size: 20px;
  /* line-height:5px; */
  margin-left: 15px;
}

.author-name {
  margin-left: 15px;
  color: gray;
  font-size: 16px;
}

.author-name a {
  text-decoration: none;
  color: blue;
}

.cources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
}

.course {
  box-shadow: 1px 5px 45px gray;
  background-color: rgba(141, 148, 148, 0.918);
  border-radius: 10px;
  width: 250px;
}

.fa-star.filled {
  color: #ffc014;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-duration {
  background-color: #ffe4e8;
}
.fa-clock {
  color: #ff596d;
}

.cources-banner img {
  margin: 30px;
}

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .players,
  .blogs,
  .cources {
    /* background-color: rgb(78, 24, 24); */
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
  }

  .blog {
    justify-content: center;
    align-items: center;
  }

  .blog,
  .blog-info {
    text-align: center;
    justify-content: center;
  }
  /* .course{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    } */
  .course {
    /* box-shadow: 1px 5px 10px gray;
    background-color: rgba(141, 148, 148, 0.918); */
    margin: 10px;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  /* .cources{

        display: none;
    } */
}

@media only screen and (min-width: 688px) and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #FF596D; */
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
    /* background-color: #FFC014; */
  }

  .cources {
    grid-template-columns: repeat(1, 1fr);
    /* background-color: blueviolet; */
  }

  .course {
    /* box-shadow: 1px 5px 10px gray;
    background-color: rgba(141, 148, 148, 0.918); */
    margin: 10px;
    text-align: center;
    justify-content: center;
    width: 95%;
  }

  .player {
    text-align: center;
    justify-content: center;
  }

  .blog {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }
}
